<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url('https://finalawsstatic.s3.amazonaws.com/media/4_2I71BDO.jpg');

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.video{
  position: relative;
  top: 200px;
}
</style>
</head>
<body>
<p>Your video goes here</p>
<div class="bg"></div>

<!-- <p>first page</p> -->

</body>
</html>